body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.glass-navbar {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 25px;
    border-radius: 25px;
    position: sticky;
    top: 20px;
    z-index: 1000;
}

.nav-link:hover {
    color: #0066ff;
}

.hero-image {
    width: clamp(200px, 30vw, 300px);
    height: auto;
}

#hero-section h1 {
    font-size: clamp(2rem, 3vw, 3.8rem);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#hero-section p {
    font-size: clamp(1rem, 1.5vw, 1.7rem);
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

#hero-section a {
    text-decoration: none;
}

.hero-icon {
    font-size: clamp(1.3rem, 1.5vw, 1.6rem);
    color: black;
}

#about-sec {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 50px;
    margin-top: 150px;
    padding: 50px;
}

#project-section {
    margin-top: 150px;
    padding: 50px;
}

#project-card:hover {
    transform: translateY(-5px);
    border: 1px solid black;
    transition: all 0.3s ease;
}

.contact {
    margin-top: 150px;
    padding: 50px;
}