.glass-navbar {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 25px;
    border-radius: 25px;
}

.nav-link:hover {
    color: #0066ff;
}

#project-section {
    margin-top: 300px;
    padding: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#project-card:hover {
    transform: translateY(-5px);
    border: 1px solid black;
    transition: all 0.3s ease;
}