body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.glass-navbar {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 25px;
    border-radius: 25px;
    position: sticky;
    top: 20px;
    z-index: 1000;
}

.nav-link:hover {
    color: #0066ff;
}

#hero-section h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#hero-section p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

#hero-section a i {
    font-size: 1.5rem;
    color: black;
}

#about-sec {
    margin-top: 150px;
    padding: 50px;
}

#project-section {
    margin-top: 150px;
    padding: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#project-card:hover {
    transform: translateY(-5px);
    border: 1px solid black;
    transition: all 0.3s ease;
}