nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

nav .right a {
    text-decoration: none;
    margin: 0 20px;
}

nav .left a {
    text-decoration: none;
}

.hero-sec {
    display: flex;
    padding: 0 50px;
    margin-top: 50px;
    align-items: center;

}

.hero-sec .text {
    flex: 5;
}

.hero-sec .head-pic {
    flex: 2;
}
.hero-sec .head-pic img {
    border-radius: 50%;
    width: 300px;
}